<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.usemodj.forum.mappers.ForumMapper">
  <select id="selectForums"   resultType="Forum">
	SELECT SQL_CALC_FOUND_ROWS
		 forum_id      AS forumId    ,
		 forum_name    AS forumName  ,
		 forum_slug    AS forumSlug  ,
		 forum_desc    AS forumDesc  ,
		 forum_parent  AS forumParent,
		 forum_order   AS forumOrder ,
		 topics        AS topics     ,
		 posts         AS posts      
	FROM bb_forums
	ORDER BY forum_order
    LIMIT #{offset},#{limit} 
  </select>
  <select id="selectFoundRows"  resultType="long">
  	SELECT FOUND_ROWS() AS cnt 
  </select>
<delete id="deleteForumIN">
    DELETE FROM bb_forums 
    WHERE forum_id IN
    <foreach item="item" index="index" collection="array"
    open="(" separator="," close=")">
    #{item}
    </foreach>
  </delete>
</mapper>